.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vw;
}                                                                                             
.app-input{
  padding: 10px;
  border-radius: 5px;
  background-color:darkgrey; 
}

.img{
  width: 200px;
}